<!--The content below is only a placeholder and can be replaced.-->
<div class="gris">
    <div class="row">
        <div class="col-md-6">
  <img src="assets/images/logo.png" class="logo">
          <h1>
            <a class="logo" routerLink ="/">Singtionary</a></h1>
           
        </div>
         
        <div class="col-md-12 supermenu">
              <a class="menu" (click)="logout()">Salir</a>
            <a class="menu" routerLink="/signup">Registro</a>
            <a class="menu" routerLink="/login">Login</a>
        </div>
      
        
    </div>
  </div>
  
  
  <router-outlet></router-outlet>
