.gris{
    background-color: #184b59;
    color: white;
    padding-left: 50px;
       
}

.plano {
    color: white;
}

.menu{
margin-right: 20px;       
float: right;

}

.supermenu{
color: white;
float: right;
padding-bottom: 20px;

}

.logo{
width: 250px;
}

a.logo {
    position: absolute;
    margin-top: -60px;
    margin-left: 140px;
    color: white;
}