<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-dark bg-dark static-top">
        <div class="container">
        <img src="assets/images/logo.png" routerLink ="/" class="logo navbar-brand">
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success mr-sm-2" routerLink="/login">Login</a>
            <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/signup">Registro</a>
            <a class="btn my-2 my-sm-0 plano" style="color: white" (click)="logout()">Salir</a>
        </form>
    </div>
</nav>



  
  
  <router-outlet></router-outlet>
