<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left:25px;">
    <a routerLink ="/asset" class="navbar-brand">Cargas</a>
    <a routerLink ="/country" class="navbar-brand">Paises</a>
    <a routerLink ="/permission" class="navbar-brand">Permisos</a>
    <a routerLink ="/person" class="navbar-brand">Personas</a>
    <a routerLink ="/request" class="navbar-brand">Solicitudes</a>
    <a routerLink ="/role" class="navbar-brand">Roles</a>
    <a routerLink ="/signset" class="navbar-brand">SignSet</a>
    <a routerLink ="/admin/videos" class="navbar-brand">Videos</a>
  </nav>