input {
    background-color: white;
    background-position: 10px 10px; 
    padding-left: 40px;
    border-radius: 5px;
    border: 2px solid gray;
    width: 90%;
    box-sizing: border-box;
    height: 40px;

}

li{
    padding: 20px;
    margin-top: 20px;
}